body {
    background-color: #f8f9fa;
    margin: 0; /* Remove margem padrão do body */
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1, h2 {
    color: #11049b;
}

.company-name {
    color: #ffffff;
    font-size: 20px; /* Ajuste o tamanho da fonte aqui */
    margin: 0;
}

.page-title {
    color: #11049b;
}

#result, #percentage-result {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
}

#plot {
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.site-header {
    background-color: #11049b;
    padding: 10px 0; /* Remova o padding lateral para alinhar à esquerda */
    color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha itens no início, à esquerda */
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%; /* Garante que o container ocupe toda a largura */
    padding: 0 20px; /* Padding lateral para dar espaço em geral */
}

.logo {
    height: 60px;
    margin-right: 20px; /* Espaçamento entre o logo e o nome da empresa */
    margin-left: 0; /* Elimina qualquer margem esquerda */
}

/* Dentro do seu arquivo CSS, adicione estas regras */
.nav-link {
    color: #ffffff; /* Define a cor dos links como branco */
    background-color: transparent; /* Fundo transparente por padrão */
    border: 1px solid transparent; /* Para consistência de espaçamento */
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.nav-link:hover {
    color: #11049b; /* Cor do texto ao passar o mouse */
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
    border-color: #dee2e6; /* Mudança de borda opcional ao passar o mouse */
}

.nav-link.active {
    color: #11049b; /* Cor do texto para o link ativo */
    background-color: #ffffff; /* Fundo diferente para o link ativo */
    border-radius: 5px; /* Arredondamento para o link ativo */
}

/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }