body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1, h2 {
    color: #007bff;
}

#result, #percentage-result {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
}

#plot {
    border: 1px solid #dee2e6;
    border-radius: 5px;
}