<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Projeto</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .about-simulation p {
            text-indent: 50px;
        }
        .center-text {
            text-align: center;
        }
        .references {
            display: none;
        }
    </style>
</head>
<body>
    <header class="site-header mb-4">
        <div class="header-container d-flex justify-content-between align-items-center">
            <a href="https://www.blumenau.ufsc.br" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/brasao_UFSC_horizontal_sombreado.png') }}" alt="Logo da Empresa" class="logo">
            </a>
            <h1 class="company-name">Simulador de MonteCarlo para gestão de projetos</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/exemplos" class="nav-link">Exemplos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">Sobre</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container about-simulation text-align: justify-content-center">
        <h2>Sobre a Simulação de Monte Carlo</h2>
        <p>A Simulação de Monte Carlo (SMC) é uma técnica que utiliza números aleatórios e probabilidades para analisar problemas complexos, sendo especialmente útil em situações de risco e incerteza. O conceito surgiu durante a Segunda Guerra Mundial no Projeto Manhattan, no laboratório de Los Alamos, EUA, sendo desenvolvido pelos cientistas John Von Neumann e Stanislaw Ulam. O nome "Monte Carlo" foi escolhido em referência aos jogos de azar, comuns no cassino da cidade de Monte Carlo, em Mônaco, que dependem de sorteios e resultados aleatórios (Metropolis & Ulam, 1949; Metropolis, 1987).</p>

        <p>A SMC funciona gerando números aleatórios para atribuir valores às variáveis de um sistema que está sendo analisado. Esses números podem ser obtidos por diversos meios, como tabelas, sorteios, roletas ou, atualmente, por meio de softwares específicos. Cada repetição da simulação gera um novo valor, e ao final, os resultados obtidos formam uma distribuição de frequências. Essa distribuição permite o cálculo de estatísticas como a média, o valor mínimo e máximo, o desvio padrão, e ainda possibilita a criação de cenários futuros para a análise do comportamento do sistema.</p>
          
        <p>Este método é extremamente valioso quando lidamos com problemas que envolvem variáveis imprevisíveis, ou seja, situações em que o comportamento das variáveis não é determinístico. A SMC tem aplicação em diversas áreas, como finanças, engenharia e planejamento, ajudando a antecipar os efeitos de diferentes cenários e proporcionando uma base sólida para decisões informadas (Moore & Weatherford, 2001; Lustosa, Ponte & Dominas, 2004).</p>
          
        <p>Para executar corretamente uma simulação de Monte Carlo, é importante seguir algumas etapas básicas. Um dos pontos chave é realizar o maior número possível de simulações para garantir uma amostra representativa, sendo recomendado pelo menos cem repetições. Embora não exista um limite máximo, é crucial equilibrar a precisão dos resultados com o tempo de processamento, ajustando a quantidade de simulações conforme o poder computacional disponível (Escudero, 1973).</p>
          
        <p>Com nosso simulador de Monte Carlo, você poderá explorar essa técnica para enfrentar desafios envolvendo incertezas, realizar análises detalhadas e gerar insights valiosos para suas decisões estratégicas.</p>

        <div class="text-center my-4">
            <button class="btn btn-primary" onclick="toggleReferences()">Referências Bibliográficas</button>
        </div>

        <div class="references">

            <h3>Referências Bibliográficas</h3>
            <h4></h4>
            <p><a href="https://www.researchgate.net/profile/Natallya-Levino/publication/237321848_SIMULACAO_DE_MONTE_CARLO_AUXILIANDO_A_ANALISE_DE_VIABILIDADE_ECONOMICA_DE_PROJETOS/links/54eb78b60cf2082851bdf7e5/SIMULACAO-DE-MONTE-CARLO-AUXILIANDO-A-ANALISE-DE-VIABILIDADE-ECONOMICA-DE-PROJETOS.pdf"  target="_blank" rel="noopener noreferrer">Natallya et al. (2008).Simulação de Monte Carlo auxiliando a análise de viabilidade econômica de projetos.</a></p>
            <p><a href="https://www.jstor.org/stable/2280232"  target="_blank" rel="noopener noreferrer">Metropolis, N., & Ulam, S. (1949). The Monte Carlo method. Journal of the American Statistical Association, 44(247), 335-341.</a></p>
            <p><a href="https://www.scielo.br/j/prod/a/pSr3JmvpNgDWYkptGpDBfvc/?format=pdf" target="_blank" rel="noopener noreferrer">SARAIVA JÚNIOR, A. F.; TABOSA, C. DE M.; COSTA, R. P. DA. Monte Carlo simulation applied to order economic analysis. Production, v. 21, n. 1, 11 mar. 2011.</a></p>
            <p><a href="https://www.scielo.br/j/gp/a/wkVR4Vw4cV9CN8zqrZHCrFj/?lang=pt" target="_blank" rel="noopener noreferrer">SAKURADA, Nelson e MIYAKE, Dario. Aplicação de simuladores de eventos discretos no processo de modelagem de sistemas de operações de serviços. Gestão & Produção.</a></p>
            <p><a href="https://archive.org/details/operationsresear0000wins_04ed" target="_blank" rel="noopener noreferrer">WINSTON, W. L. Operations research: applications and algorithms. 3rd ed. Belmont: Duxbury Press, 1994.</a></p>
            <p><a href="https://link.springer.com/book/10.1007/b97336" target="_blank" rel="noopener noreferrer">GENTLE, J. E. Random number generation and Monte Carlo methods. 2nd ed. New York: Springer, 2003.</a></p>
            <!-- <p><a href="https://www.elsevier.com/books/simulation-of-stochastic-systems/escudero/978-0-12-240750-1" target="_blank" rel="noopener noreferrer">Escudero, J. (1973). Simulation of stochastic systems. Academic Press.</a></p> -->
        </div>
    </div>

    <div class="container">
        <h2>Equipe</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/fotoProgrammer.jpg') }}" alt="Henrique Bueno de Morais" style="width:100%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Henrique Bueno de Morais</h5>
                        <p class="card-text">Desenvolvedor FullStack</p>
                        <p>Graduando de Engenharia de Controle e Automação na UFSC Blumenau</p>
                        <p>henriquebueno75@gmail.com</p>
                        <a href="https://www.linkedin.com/in/henriquebuenomorais/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/WIN_20240919_10_40_45_Pro.jpg') }}" alt="Mike Ross" style="width:100%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Selene Siqueira de Souza</h5>
                        <p class="card-text">Professora</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <a href="http://lattes.cnpq.br/1373686436888322" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function toggleReferences() {
            const references = document.querySelector('.references');
            references.style.display = references.style.display === 'none' || references.style.display === '' ? 'block' : 'none';
        }
    </script>
</body>
</html>